@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER */
.banner {
  background: #584239; /*SKAL LAVES TIL VARIABEL*/
}

.banner ul {
  list-style: none;
  padding: 0;
}

.banner a,
.dropbtn {
  padding: 0.5rem;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  font-family: "Palanquin", sans-serif;
  color: #fbf5ec; /*SKAL LAVES TIL VARIABEL*/
}

.dropbtn {
  cursor: default;
}

.banner a:hover {
  color: #f2e291; /*SKAL LAVES TIL VARIABEL*/
}

header button {
  color: #fbf5ec; /*SKAL LAVES TIL VARIABEL*/
}

header button:hover {
  color: #f2e291; /*SKAL LAVES TIL VARIABEL*/
  background: none;
}

header button:active {
  background: none;
  box-shadow: none;
  box-shadow: none;
}

/* BURGERMENU */
.toggle-btn {
  display: none;
}

header a {
  list-style: none;
  text-decoration: none;
  color: #fbf5ec; /*SKAL LAVES TIL VARIABEL*/
}

/*BURGERMENU */
@media (max-width: 700px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

.toggle-btn {
  width: 40px;
  background-color: none;
  box-shadow: none;
}

/*DROPDOWN*/
.navbar {
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #584239; /*SKAL LAVES TIL VARIABEL*/
  border-width: 2px;
  border-color: #f2e291; /*SKAL LAVES TIL VARIABEL*/
  border-radius: 1%;

  left: 51% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-51%, 0) !important;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: center;
  background-color: inherit;
  padding: 14px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*TYPOGARFI - SKAL I MAIN*/
h1 {
  font-family: "Exo 2", sans-serif;
  color: #6f8a85;
  font-weight: bold;
  font-size: 220%;
  line-height: 130%;
  padding-block: 4%;
}

h2 {
  font-weight: bold;
  font-size: x-large;
  font-family: "Palanquin", sans-serif;
  color: #241c19;
  text-align: center;
  padding-block: 40px;
}

h3 {
  font-weight: bold;
  font-size: larger;
  font-family: "Palanquin", sans-serif;
  color: #241c19;
}

h4 {
  font-weight: bold;
  font-size: large;
  font-family: "Palanquin", sans-serif;
  color: #241c19;
}

p {
  font-family: "Roboto", sans-serif;
  color: #241c19;
}

li {
  list-style-type: square;
}

/*FOOTER*/
footer {
  background-color: #584239;
}

footer h4 {
  color: #f2e291;
}

footer p {
  color: #fbf5ec;
}

footer button {
  box-shadow: none;
  height: 41px;
  align-items: stretch;
  font-family: "Palanquin", sans-serif;
  color: #241c19;
}

footer button:active {
  box-shadow: none;
}

/*FORSIDE KNAP*/
@media (min-width: 700px) {
  #forside_hero {
    position: relative;
  }

  #forside_hero button {
    position: absolute;
    top: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
